{% extends 'VinllaLandingBundle:Admin:base.html.twig' %}

{% block title %}List fitur Vinlla{% endblock%}
{% block tag %}Anda dapat melakukan manajemen infromasi dari list fitur vinlla {% endblock %}

{% block main %}
 <div class="widget">

            <div class="title"><h6>List Fiture</h6></div>                          
            <table cellpadding="0" cellspacing="0" border="0" class="display dTable">
            <thead>
            <tr>
            <th>Slug</th>
            <th>Judul</th>
            <th>Isi</th>
			<th>Aksi</th>
            </tr>
            </thead>
            <tbody>
			{% for info in infos %}
            <tr class="gradeX">
            <td>{{ info.slug }}</td>
			<td>{{ info.judul }}</td>
            <td>{{ info.isi(10)|raw }}</td>
			<td><a style="margin: 5px;" class="smallButton" title="" href="{{ path('VinllaLandingBundle_admin_info_update', {'id': info.id  } )}}">
					<img alt="" src="/bundles/vinllalanding/admin/images/icons/color/pencil.png">
				</a></td>
            </tr>
			{% endfor %}
            </tbody>
            </table>  
        </div>
		<div class="horControlB">
			<ul>
				<li>
					<a title="" href="{{ path('VinllaLandingBundle_admin_info_add')}}">
						<img alt="" src="/bundles/vinllalanding/admin/images/icons/control/16/pencil.png">
						<span>Tambah Info</span>
					</a>
				</li>
			</ul>
		</div>
{% endblock %}